
.wrapClose{
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    outline: none;
}
.wrapClose:hover{
    cursor: pointer;
}

.wrapDivBut{
  display: flex;
    justify-content: right;
}
