.wrapModel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 578px;
    width: 624px;
    background-color: white;
    border-radius: 3px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Inter-bold', sans-serif;
    color: #2B3844;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #3E4C59;
}
p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #3E4C59;
}
input{
    margin-top: 8px;
    padding-left: 18px;
    height: 50px;
    width: 276px;
}

.wrapInput{
    margin: 32px 0 32px 0;
}
.wrapText{
    display: flex;
    justify-content: center;
    margin: 32px 0 60px 0;
}
.wrapError{
    margin-top: 5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: darkred;
}
.wrapClose{
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    outline: none;
}
.wrapDivBut{
  display: flex;
    justify-content: right;
}
.wrapLink{
    outline: none;
    color: #EE950F;
    text-decoration: none;
}