.main{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}
.track{
    position: absolute;
    top: 50px;
    right: 0;
}

.regtac{
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100vh;
    overflow: hidden;
}