.activeSelected{

    color: #EE950F;
    gap: 20px;
    margin-bottom: 24px;
    color: red;
    border: 1px solid black;
}

.passivSelected{
    color: #3E4C5966;
    background-color: #F8F9F9;
    gap: 20px;
    margin-bottom: 24px;
}
.wrapText{
    margin-bottom: 32px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}