@font-face {
  font-family: 'Inter', sans-serif;
  src: url("/src/assets/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Inter-bold', sans-serif;
  src: url("/src/assets/fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Inter-semibold', sans-serif;
  src: url("/src/assets/fonts/Inter-semibold.ttf") format("ttf");
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

